@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EDEDED;
    overflow-x: hidden;
}

/* Section styles */
.section {
    padding: 100px 50px;
    min-height: 100vh; /* Ensures each section takes up the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------WELCOME DEETS---------------*/

#welcome {
    display: flex; 
    gap: 250px;
}

#welcome .clinic-pic{
    z-index: -1;
}

#welcome img {
    margin-top: -200px;
    width: 770px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 3px 10px grey, 0 2px 6px white;
    border-radius: 15px;
}

.Welcome-deets {
    margin-top: -200px;
    padding-right: 150px;
    z-index: 1; 
}

.Welcome-deets h1 {
    font-size: 35px;
}

.Welcome-deets p{
    font-size: 20px;
    margin-top: 5px;
}

.Welcome-deets button {
    margin-top: 25px;
    border-style: none;
    transition: transform 0.5s ease;
}

.Welcome-deets a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
}

#bookAppoint a{
    background-color: #0578A5;
    color: white;
    font-weight: 600;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
    transition: box-shadow 0.5s ease;
}

#aboutUs a{
    background-color: white;
    color: #0578A5;
    font-weight: 500;
    margin-left: 15px;
    box-shadow: 0 1px 3px grey, 0 2px 6px white;
    transition: box-shadow 0.5s ease;
}

.Welcome-deets button:hover {
    transform: translateY(-5px);
}

.Welcome-deets #bookAppoint a:hover {
    box-shadow: 2px 2px 10px 1px #02658b;
}

.Welcome-deets #aboutUs a:hover {
    box-shadow: 2px 2px 10px 1px grey;
}

/*---------------APPOINTMENTS---------------*/

#appointments {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#appointments img{
    box-shadow: 0 3px 10px grey, 0 2px 6px white;
    border-radius: 15px;
    width: 720px;
    height: 550px;
    object-fit: cover;
}

.appoint-deets span {
    font-size: 17px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    color: #0578A5;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 18px;
}

.appoint-deets h1 {
    font-size: 35px;
    margin-top: 30px;
}

.appoint-deets p {
    font-size: 20px;
    margin-top: 5px;
}

.appointment-btn {
    margin-top: 35px;
}

.appointment-btn button {
    border: 0px solid transparent;
    transition: transform 0.5s ease;
}

.appointment-btn button a {
    background-color: #0578A5;
    color: white;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
}

.appointment-btn a {
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px grey;
    transition: box-shadow 0.5s ease;
}

.appointment-btn button:hover {
    transform: translateY(-5px);
}

.appointment-btn a:hover {
    box-shadow: 2px 2px 10px 1px #02658b;
}

/*---------------CLINICS---------------*/

/* General container */
#clinics {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.clinic-deets span{
    font-size: 17px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    color: #0578A5;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 16px;
}

.clinic-deets h1 {
    font-size: 45px;
    margin-top: 30px;
}

.clinic-deets p {
    font-size: 20px;
    margin-top: 5px;
}

/* Updated Image container grid */
.container-clinics{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px; /* Padding around the container */
}

@media (min-width: 768px) {
    .container-clinics {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    }
}

@media (min-width: 1024px) {
    .container-clinics {
        grid-template-columns: repeat(3, 1fr); /* Three columns on large screens */
    }
}

/* Style individual image boxes */
.clinic {
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

/* Image inside each box */
.container-clinics .clinic img {
    width: 450px;
    max-height: 325px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 3px 5px grey, 0 2px 6px white;
}

/* Hover effect to zoom in */
.clinic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.clinic img:hover {
    box-shadow: 2px 4px 10px 1px grey;
}

.open-now {
    font-weight: bold;
    color: lightgreen;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

/*CONFIGURE DETAILS INSIDE MODAL*/
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
    width: auto;
    max-height: 1000px;
    padding: 15px 40px;
}

/* Enlarged image style */
.modal-content img {
    width: 393px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: -2px;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Clinic Styles */
.clinic {
    cursor: pointer;
    margin: 20px;
    text-align: center;
}

.hour-status {
    display: flex;
    align-items: center;
}

.logo-hours{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.sched-logo{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.day {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-top: 5px;
    width: 385px;
}

.logo-hours i {
    font-size: 23px;
}

.logo-hours p {
    font-size: 18px;
}

/*status if clinic is open or close*/
.status {
    font-weight: 600;
    margin-left: 130px;
}

.status.open {
    color: green;
}

.status.closed-status {
    color: red;
}

.current-day {
    font-weight: bold; 
}

.modal-title {
    display: flex;
    justify-content: flex-end;
    align-self: end;
    padding: 0px 40px;
    max-width: 50%;
}

.dentist-services {
    display: flex;
    text-align: center;
    margin-top: 10px;
    
}

#dentists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.separator2 {
    border-left: 1px solid #8F8989;
    max-height: 400px;
    margin: 0 20px;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.services {
    display: flex; /* Use flexbox to arrange columns side by side */
    justify-content: space-between; /* Space between columns */
}

.column {
    width: 48%; /* Adjust width as needed */
}

#dentists ul {
    list-style-type: none;
    font-weight: 450;
}

#services ul {
    list-style-type: none;
    padding-left: 20px;
    font-weight: 450;
    margin: 10px 0;
}

#dentists li, #services li {
    text-align: left;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
}

#dentists strong, #services strong {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.highlight-day {
    font-weight: bold;
}

.highlight-time {
    font-weight: bold;
}

.contact-clinics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 12px;
    gap: 5px;
}

#location i, #facebook i, #email i {
    font-size: 13px;
}

#location a, #facebook a {
    text-decoration: none;
    color: black;
}

/*VIEW MORE BUTTON STARTS HERE*/
.clinic-btn {
    margin-top: 10px;
}

.clinic-btn button{
    border: 0px solid transparent;
    transition: transform 0.5s ease;
}

.clinic-btn button a {
    background-color: #0578A5;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
    color: white;
}

.clinic-btn a {
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 23px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px grey;
    transition: box-shadow 0.5s ease;
}

.clinic-btn button:hover {
    transform: translateY(-5px); 
}

.clinic-btn a:hover {
    box-shadow: 2px 2px 10px 0.1px #02658b;
}


/*---------------ABOUT US---------------*/

#about {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#about span{
    font-size: 17px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    color: #0578A5;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 16px;
}

.about-deets h1 {
    font-size: 35px;
    margin-top: 30px;
}

.about-deets p {
    font-size: 20px;
}

.about-pic img {
    margin-top: 10px;
    box-shadow: 0 3px 5px grey, 0 2px 6px white;
    border-radius: 15px;
    width: 800px;
    height: 550px;
    object-fit: cover;
}

.about-btn {
    margin-top: 35px;
}

.about-btn button{
    border: 0px solid transparent;
    transition: transform 0.5s ease;
}

.about-btn button a {
    background-color: #0578A5;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
    color: white;
 
}

.about-btn a {
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 23px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px grey;
    transition: box-shadow 0.5s ease;
}

.about-btn button:hover {
    transform: translateY(-5px);
}

.about-btn a:hover {
    box-shadow: 2px 2px 10px 0.1px #02658b;
}

/*---------------CONTACT US---------------*/

#contact {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 200px;
}

#contact span {
    font-size: 17px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    color: #0578A5;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 16px;
}

#contact .contact-content h1 {
    font-size: 35px;
    margin-top: 30px;
}

#contact .contact-content p {
    font-size: 20px;
}

.contact-deets {
    display: flex;
    margin-top: 35px;
    gap: 30px;
}

.phone-icon i{
    background-color: #0578A5;
    padding: 8px;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.email-icon i{
    background-color: #0578A5;
    padding: 8px;
    box-shadow: 0 1px 3px #0578A5, 0 2px 6px grey;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

/*RIGHT SIDE CONTAINER*/
.contact-container {
    background-color: white;
    box-shadow: 0px 5px 4px grey;
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    gap: 30px;
    font-size: 20px;
}

.upper-deets {
    display: flex;
    gap: 15px;
}

.lower-deets {
    display: flex;
    gap: 15px;
}

.contact-container p {
    font-weight: 600;
}

.contact-container input, textarea {
    border: 1px solid transparent;
    border-radius: 5px;
    border-color: #D9D9D9;
    background-color: white;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    transition: all 0.5s ease;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-container input:focus,
.contact-container textarea:focus {
    border: 1px solid #0578A5;
}

.contact-container input:hover,
.contact-container textarea:hover {
    border: 1px solid #0578A5;
}

.msg textarea {
    resize: none;
    width: 100%;
    min-height: 160px;
    height: 100%;
}

.submit-btn {
    margin-top: 20px;
}

.submit-btn button {
    cursor: pointer;
    border: 0px solid transparent;
    padding: 10px 15px;
    background-color: #0578A5;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.submit-btn button:hover {
    box-shadow: 2px 2px 10px 0.1px #02658b;
}


/* Footer styles */
.footer {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%; 
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.footer-logo img {
    height: 90px;
    width: 95px;
    margin-right: 10px; /
}

.footer-links h1 {
    margin-right: 10px; 
    font-size: 24px;
}

.footer-links a {
    color: #D9D9D9;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0578A5; 
}

.footer-credits {
    text-align: right;
    font-size: 17px;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none;
}

#popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    width: 400px;
    text-align: center;
    display: none;
}

#popup-message {
    font-size: 18px;
    color: #333;
}
